In [41]:
import smtplib
import random
import pandas as pd


# Enter your email and password for the sender's email account
sender_email = "pautilmailer@gmail.com"
password = "imzz pytq uwhk aapa"

# Read participant data from the CSV file

df=pd.read_csv('secret_santa.csv')
participants = list(df.columns.values)
fb1 = df.loc[0,:].tolist() #list of last years partner, no repeats
fb2 = df.loc[1,:].tolist() #list of husband/wife, etc for removal
email = df.loc[2,:].tolist() #list of email addresses

receivers = []
for i in range(0, len(participants)):
    p1 = participants.copy()
    del p1[i]
    p1.remove(fb1[i])
    p2 = fb2[i] 
    if p2 in p1:
        p1.remove(fb2[i])
    p1
    receivers.append(p1)

taken = []                      # For keeping track of who has been assigned to a 'giver'.
pairings = {}                   # Dictionary for giver-to-receiver pairings.
 
start = random.choice(receivers[0])
taken.append(start)
pairings[participants[0]] = start
 
while len(taken) < len(participants):
    for i in range(1,len(participants)):
        possible = receivers[i]
        try:
            possible = [x for x in possible if x not in taken]
            chosen = random.choice(possible)
            taken.append(chosen)
            pairings[participants[i]] = chosen
        except:
            taken = [taken[0]]
            break
 
#for k,v in pairings.items():
#    print('%s gives a gift to %s.' % (k,v)) #Hey, don't peek!
# Send email to each participant with their assigned pick

n=0    #an incrementer for the email
for giver in pairings:
    giver_name = giver
    receiver_name = pairings[giver]
    email_address = email[n]
    message = f"Subject: Ciezar Family Secret Santa Selection \n\nHello {giver_name}!\n\nYou are assigned to be the Secret Santa for {receiver_name} this year."
#    message = f'Subject: SECRET SANTA TEST EMAIL \n\nHello {giver_name}!\n\nYou are not yet assigned to be the Secret Santa for anybody this year.' #test email
#    print(message) #pieces for testing
#    print(email_address) #pieces for testing
    n=n+1

    # Connect to the email server
    server = smtplib.SMTP("smtp.gmail.com", 587)
    server.starttls()
    server.login(sender_email, password)

    # Send the email
    server.sendmail(sender_email, email_address, message)
    server.quit()

    print(f"Email sent to {giver_name} ({email_address}) with their assigned pick.")
#generate a new input file with the selections for this round.
outputdf = pd.DataFrame(list(zip(participants, newold, fb2, email))).T
outputdf.to_csv('output.csv', index = False, header = False)

Subject: Ciezar Family Secret Santa Selection

Hello Patrick!

You are assigned to be the Secret Santa for Cody this year.
patrick@thefamilya.ca
Email sent to Patrick (patrick@thefamilya.ca) with their assigned pick.
Subject: Ciezar Family Secret Santa Selection

Hello Sylwia!

You are assigned to be the Secret Santa for Karolina this year.
sylwia@thefamilya.ca
Email sent to Sylwia (sylwia@thefamilya.ca) with their assigned pick.
Subject: Ciezar Family Secret Santa Selection

Hello Adam!

You are assigned to be the Secret Santa for Paulina this year.
kusekadas@gmail.com
Email sent to Adam (kusekadas@gmail.com) with their assigned pick.
Subject: Ciezar Family Secret Santa Selection

Hello Iwona!

You are assigned to be the Secret Santa for Adam this year.
iwonac@hotmail.ca
Email sent to Iwona (iwonac@hotmail.ca) with their assigned pick.
Subject: Ciezar Family Secret Santa Selection

Hello Karolina!

You are assigned to be the Secret Santa for Sylwia this year.
karolina.ciezar@gmail.com
Email sent to Karolina (karolina.ciezar@gmail.com) with their assigned pick.
Subject: Ciezar Family Secret Santa Selection

Hello Paulina!

You are assigned to be the Secret Santa for Iwona this year.
pciezar@hotmail.com
Email sent to Paulina (pciezar@hotmail.com) with their assigned pick.
Subject: Ciezar Family Secret Santa Selection

Hello Cody!

You are assigned to be the Secret Santa for Patrick this year.
cody.tomiyama@gmail.com
Email sent to Cody (cody.tomiyama@gmail.com) with their assigned pick.

In [4]:
df

,Patrick,Sylwia,Adam,Iwona,Karolina,Paulina,Cody
0,Karolina,Adam,Cody,Sylwia,Iwona,Patrick,Paulina
1,Sylwia,Patrick,Iwona,Adam,Cody,NaN,Karolina
2,patrick@thefamilya.ca,sylwia@thefamilya.ca,kusekadas@gmail.com,iwonac@hotmail.ca,karolina.ciezar@gmail.com,pciezar@hotmail.com,cody.tomiyama@gmail.com

In [5]:
pairings

{'Patrick': 'Adam',
 'Sylwia': 'Iwona',
 'Adam': 'Karolina',
 'Iwona': 'Patrick',
 'Karolina': 'Paulina',
 'Paulina': 'Cody',
 'Cody': 'Sylwia'}

In [8]:
list(pairings.values())

['Adam', 'Iwona', 'Karolina', 'Patrick', 'Paulina', 'Cody', 'Sylwia']

In [9]:
newold=list(pairings.values())

In [10]:
newold

['Adam', 'Iwona', 'Karolina', 'Patrick', 'Paulina', 'Cody', 'Sylwia']

In [11]:
df2=df.copy()

In [16]:
df2

,Patrick,Sylwia,Adam,Iwona,Karolina,Paulina,Cody
0,Karolina,Adam,Cody,Sylwia,Iwona,Patrick,Paulina
1,Sylwia,Patrick,Iwona,Adam,Cody,NaN,Karolina
2,patrick@thefamilya.ca,sylwia@thefamilya.ca,kusekadas@gmail.com,iwonac@hotmail.ca,karolina.ciezar@gmail.com,pciezar@hotmail.com,cody.tomiyama@gmail.com

In [15]:
df2.iloc[0]

Patrick     Karolina
Sylwia          Adam
Adam            Cody
Iwona         Sylwia
Karolina       Iwona
Paulina      Patrick
Cody         Paulina
Name: 0, dtype: object

In [25]:
mydf = pd.DataFrame(list(zip(newold, fb2, email), columns = participants))

TypeError: list() takes no keyword arguments

In [28]:
new = list(zip(participants, newold, fb2, email))

In [29]:
new

[('Patrick', 'Adam', 'Sylwia', 'patrick@thefamilya.ca'),
 ('Sylwia', 'Iwona', 'Patrick', 'sylwia@thefamilya.ca'),
 ('Adam', 'Karolina', 'Iwona', 'kusekadas@gmail.com'),
 ('Iwona', 'Patrick', 'Adam', 'iwonac@hotmail.ca'),
 ('Karolina', 'Paulina', 'Cody', 'karolina.ciezar@gmail.com'),
 ('Paulina', 'Cody', nan, 'pciezar@hotmail.com'),
 ('Cody', 'Sylwia', 'Karolina', 'cody.tomiyama@gmail.com')]

In [38]:
df5 = pd.DataFrame(list(zip(participants, newold, fb2, email))).T

In [39]:
df5

,0,1,2,3,4,5,6
0,Patrick,Sylwia,Adam,Iwona,Karolina,Paulina,Cody
1,Adam,Iwona,Karolina,Patrick,Paulina,Cody,Sylwia
2,Sylwia,Patrick,Iwona,Adam,Cody,NaN,Karolina
3,patrick@thefamilya.ca,sylwia@thefamilya.ca,kusekadas@gmail.com,iwonac@hotmail.ca,karolina.ciezar@gmail.com,pciezar@hotmail.com,cody.tomiyama@gmail.com

In [32]:
df4 = df3.T

In [33]:
df4

,0,1,2,3,4,5,6
0,Patrick,Sylwia,Adam,Iwona,Karolina,Paulina,Cody
1,Adam,Iwona,Karolina,Patrick,Paulina,Cody,Sylwia
2,Sylwia,Patrick,Iwona,Adam,Cody,NaN,Karolina
3,patrick@thefamilya.ca,sylwia@thefamilya.ca,kusekadas@gmail.com,iwonac@hotmail.ca,karolina.ciezar@gmail.com,pciezar@hotmail.com,cody.tomiyama@gmail.com

In [37]:
df4.to_csv('output.csv', index = False, header = False)